* text-auto

# Ignore all test and documentation with "export-ignore".
/.gitattributes             export-ignore
/.github                    export-ignore
/.gitignore                 export-ignore
/phpunit.xml.dist           export-ignore
/tests                      export-ignore
/thumbnail.php              export-ignore
/thumbnail.png              export-ignore
